body{
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.chat-container{
    margin: 3%;
    width: auto;
    height: fit-content;
    border: 2px black solid;
}
.chat-container::after{
    content: "";
    clear: both;
    display: table;
}

.username{
    text-align: left;
    padding-left: 30px;
}
.message{
    text-align: center;
}
.seperator{
    height: 1px;
    background: black;
}