body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    position: relative;
    text-align: center;
    padding: 7px;
    width: 10%;
    border: 2px black solid;
}
.username{
    text-align: center;
    border: 1px black solid;
    padding: 2px;
    font-size: small;
    white-space: nowrap;
}
.message_contents{
    text-align: center;
    display: inline-block;
}