body{
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 3%;
    font-family: Ubuntu, "times new roman", times, roman, serif;

}
.chat-container{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4px;
    width: auto;
    height: fit-content;
    border: 2px black solid;
    display: flex;
}
.username{
    text-align: left;
    padding-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 2px black solid;
}
.chat-container .message{
    text-align: left;
    padding-right: 1px;
    overflow-wrap: break-word;
    word-break: break-all;
    inline-size: 100vw;
    width: 100vw;
    /*border: 1px yellow solid;*/
    hyphens: manual;
}
.time{
    font-size: smaller;
    float: right;
    text-align: center;
    border-right: 2px black solid;
    padding-right: 1em;
    padding: 3px;
}
.input{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;    
}