<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>

        {% if session.nickname %}

        <div id="for_messages"></div>

        <div class="input">
            <form action="/sendmessage" method="post">
                <input type="text" value="Enter message..." id="message" name="message">
                <input type="submit" value="Submit">
            </form>
        </div>

        {% else %}
            <form action="/" method="post">
                <input type="text" id="nickname" name="nickname" value="Input your nickname">
                <input type="submit" value="Submit">
            </form>
        {% endif %}

        
        <script>

            const scrollingElement = (document.scrollingElement || document.body);
            scrollingElement.scrollTop = scrollingElement.scrollHeight;

            async function get_messages(){
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function(){
                    document.getElementById("for_messages").innerHTML = this.responseText
                }
                xhttp.open("GET", "/getmessages", true)
                xhttp.send()
            }
            setInterval(get_messages, 1000)
            document.onload = get_messages()
        </script>

    </body>


   
</html>