<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    </head>
    <body>

        {% if session.nickname %}

        <div id="for_messages"></div>

        <div class="input">
            <form action="/sendmessage" method="post">
                <label for="message">Enter message:</label>
                <input type="text" id="message" name="message">
                <input type="submit" value="Submit">
            </form>
        </div>

        {% else %}
            <form action="/" method="post">
                <label for="nickname">Enter your nickname:</label>
                <input type="text" id="nickname" name="nickname">

                <label for="password">Enter your password:</label>
                <input type="password" id="password" name="password">
                <p><b><i>
                    If you don't have an account, an account will automatically be created. <br>
                    If you do have an account, you will just be signed into your account if the password is correct.
                </i></b></p>
                <input type="submit" value="Submit">
            </form>
        {% endif %}

        
        <script>

            const scrollingElement = (document.scrollingElement || document.body);
            scrollingElement.scrollTop = scrollingElement.scrollHeight;

            async function get_messages(){
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function(){
                    const response = this.responseText
                    if (response == document.getElementById("for_messages").innerHTML){
                        console.log("no changes detected")
                    }
                    else{
                        document.getElementById("for_messages").innerHTML = response
                    }
                }
                xhttp.open("GET", "/getmessages", true)
                xhttp.send()
            }
            setInterval(get_messages, 1000)
            document.onload = get_messages()
        </script>

    </body>


   
</html>